

body{
    min-width:320px;
    background:linear-gradient(to right, #1a002e, #1a0046d6);


}



.links img{
    width: 25px;
    filter: invert(100);
    transition: transform 0.1s ease-in;
    
}
.links img:hover{
    transform: scale(1.1);
    
}

.linkImgs, .linkImgs:hover{
    text-decoration: none;
    color: transparent;
    
}

h1{
    width: 40vh;
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    font-family: Anton;
    font-weight: bold;
    color: rgba(254, 254, 254, 0.981);
}


h4{
    display: flex;
    justify-content: center;
    width: 5em;
    font-size: medium;
    border-radius: 15px;
    background-color: rgba(72, 49, 93, 0.63);
    color: rgb(131, 0, 254);
}

h2, h5{
    color: antiquewhite;
}

p{
    margin: 5px;
    color: rgba(197, 197, 197, 0.512);
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height:80vh ;
    padding: 5vh;

    opacity: 0; /* Começa com opacidade 0 para aplicar o efeito de fade in */
  transform: translateY(-20px); /* Começa com translateY -20px para aplicar o efeito de deslizamento */
  animation: fadeIn 1s ease-in-out forwards; /* Aplica a animação de fadeIn */
}

#SobreMim{
    text-align: center;
    flex-wrap: wrap;
    max-width: 86vh;
    gap: 16px;
}

#SobreMim p {
    display: flex;
    align-items: center;
    /* justify-content: center;*/
    flex-direction: column; 
}

p a{
    display: flex;
}

p strong{
    font-size: large;
}

p{
    gap: 12px;
}

.links{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}



#Home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 100px;
    justify-content: space-around;
    margin-top: 20px;
}



.photo img{
    object-fit: cover;
    width: 60vh;
    height: 60vh;
    border-radius: 30vh 30vh; 
    box-shadow: 5px 15px 50px rgba(255, 255, 255, 0.205);
    background:linear-gradient(to top right , rgb(50, 3, 50), rgb(211, 87, 253), rgb(69, 69, 255)) ; 
    filter: saturate(130%);

}
#NavBar{
    overflow: hidden;
    z-index: 9999;
}
#NavBar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
 .sticky + main{
    padding-top: 60px;
 }

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30vh;
    margin-top: 20px;
    min-width: 320px

}

.card-body {
    height: 30vh;
    background-color: #1c1921;
    transition: transform 0.3s ease-in;
}

.card-body:hover{
    cursor: pointer;
    transform: scale(1.05);
}

#SoftSkills .SoftSkillsContent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

cite{
    color: #ffffff9e;
}

#unicesumar, #unicesumar:hover{
    text-decoration: none;
    color: aquamarine;
}


#TechBox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px;
    gap: 50px;
    justify-content:space-evenly ;
}
.techImg{
    object-fit: contain;
    width: 10vh;
    height: 10vh;
    transition: transform 0.3s ease-in-out;
}

.techImg:hover{
    transform: scale(1.1);
}
.TechItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20vh;
    height: 20vh;
    padding: 10px;
    border-radius: 10% 10%;
    justify-content: center;
    gap: 15px;
}

.TechItem:hover{
    cursor: pointer;
    background-color: #f2f2f227;
}
.TechItem:hover h4{
    color: #1a002e;
    background-color: transparent;
    filter: drop-shadow(5px 15px 50px rgb(0, 0, 0));
}


#Projetos #projectBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10vh;
} 

#projectBox img{
    object-fit: contain;
    transition: filter 0.3s ease-in-out;
    width: 40vh;
    height: 60vh;

}

#projectBox img:hover{
    filter: brightness(50%);
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(179, 0, 255, 0.353);
    height: 15vh;
    
}

footer img{
    filter: invert(100);
    width: 5vh;
}
footer a, footer a:active, footer a:hover{
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
}

@media screen and (max-width:800px) {


    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
    }
    
    .photo img{    
        width: 30vh;
        height: 30vh;
        margin: 5vh 0;
    }


    .secOne{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main{
        gap: 100%;
    }

    section{
        max-width: 50vh;
        margin: 0;
        gap: 0;
        min-width: 319px;
    }

}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }